@font-face {
    font-family: gamefont;
    src: url("files/gamefont.ttf");
  }

h1{
    text-align: center;
    font-family:cursive;
    font-weight:bold;
    font-size: 40px;
}

body {
    transition: background-color 5s, color 0.5s;
    
    background-size: cover;

}

body.light-mode {
    background-color: white;
    color: black;
}
body.dark-mode {
    background-color: black;
    color: white;
}

.game{
    width:240px;
    height:120px;
    text-align: center;
    font-size: 16px;
    transition: 1s;
    position:relative;
    margin-right: 10px;
    
    
}
.game:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(255, 255, 255)   
}

.col{
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

