.controls {
    margin-bottom: 20px;
  }
  .controls h2 {
    margin: 0;
  }
  .controls button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  .reset {
    background-color: #1f505e;
    border:5px solid #000000;
    color: white;
  }