/* App.css */
.root h1 {
    text-align: center;
    color: white;
    transition: 1s;
    text-shadow: 0 0 20px #00FF00;
    font-weight: 800;
    font-size: 40px;
    margin: 5px;
}

body {
    transition: 1s;
    background-color: black;
}

.navicons {
    transition: 1s;
    background-color: white;
    margin-left: 10px;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
}

.game {
    width: 240px;
    height: 120px;
    border: none;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    background-color: transparent;
    background-position: center;
}

.gamebox {
    max-width: 800px;
    text-align: center;
    margin: auto;
}
