h1{
    text-align: center;
    /* font-family:gamefont; */
    font-weight:800;
    font-size: 40px;
}
body{
    transition: 1s;
}
.navicons{
    transition: 1s;
    background-color:white;
    margin-left: 10px;
    background-size:contain;
    width: 50px;
    height: 50px;
    border:none;
}
.game{
    width:240px;
    height:120px;
    border: none;
    font-size: 16px;
    transition: 0.5s;
    position:relative;
    margin: 10px;
    border-radius: 20px;
    background-size:cover;
}
.game:hover {
    box-shadow: 0 12px 16px 0 black, 0 17px 25px 0 black 
}
.gamebox{
    max-width: 800px;
    text-align: center;
    margin: auto;
}