.controls button{
    font-size:large;
    font-weight: 700;
    background-color: #1f505e;
    border:3px solid #000000;
    color: white;
    width:150px;
    height:75px;
    border-radius: 20px;
    margin: 10px;
}

.controls p{
    font-size: larger;
    font-weight: 700;
    margin: 10px;
}