.state {
    margin-bottom: 20px;
  }
  .state h2 {
    margin: 0;
  }
  .state button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  .reset {
    background-color: #1f505e;
    border:2px solid #000000;
    color: white;
  }