.tile {
    width: 100px;
    height: 100px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f505e;
    border:3px solid #000000;
    cursor: pointer;
    color:white;
  }
  